{% extends "tagger/base.html" %}

<!-- Bootpag -->

{% block script %}
<script type="text/javascript" src="../../static/js/base/jquery.bootpag.min.js"></script>
<link rel="stylesheet" href="../../static/css/base/bootstrap.min.css">
{% endblock %}

{% block body_block %}
<div id="content">Dynamic Content goes here</div>
<div id="page-selection"></div>

<script>
    var conv = '';
    var id_name = [];
    // init bootpag
    $('#page-selection').bootpag({
       total: 23,
        page: 3,
        maxVisible: 10
    }).on('page', function(event, num){
        console.log('num  = ' + num);
        $.ajax({
            url: '/tagger/conv_tagger_inner'+'?conv='
        }).done(function(data) {
            console.log('done.....');
            $( "#content" ).html( data );
        });
    });

    $(document).ready(function(){
        $.ajax({
            type: 'GET',
            //url: 'http://172.23.148.117:9200/twd_index/_search?from=0&size=10',
            'url': '../../static/data/conv.json',
            "cache": true,
            "dataSrc": function(json){
                return json;
            },
            "dataType": "json",
            success: function(data) {
                console.log('success');
                conv = data;
                tmp = {};
                $.each(conv['hits']['hits'], function(c){
                    tmp[c] = conv['hits']['hits'][c]['_source']['name'];
                    console.log(tmp);
                    
                });
                id_name= tmp;
            }
        });

        
        
    });

</script>
{% endblock %}