{% extends "tagger/base.html" %}

<!-- Bootpag -->

{% block script %}
<script type="text/javascript" src="../../static/js/base/jquery.bootpag.min.js"></script>
<link rel="stylesheet" href="../../static/css/base/bootstrap.min.css">
{% endblock %}

{% block body_block %}
<div id="content" style="height:90%;">Dynamic Content goes here</div>
<div id="page-selection"></div>

<script>
    var conv;
    var id_name = [];
    $(document).ready(function(){
        $.ajax({
            type: 'GET',
            url: 'http://172.23.148.117:9200/twd_index/_search?from=20&size=35',
            //'url': '../../static/data/conv.json',
            "cache": true,
            "dataSrc": function(json){
                return json;
            },
            "dataType": "json",
            success: function(data) {
                console.log('success');
                tmp = {};
                $.each(data['hits']['hits'], function(c){
                    tmp[c] = data['hits']['hits'][c]['_source']['name'];                    
                });
                entire_conv = data;
                id_name= tmp;
            }
        });

    // init bootpag
    $('#page-selection').bootpag({
        total: 10,
            page: 1,
            maxVisible: 10
        }).on('page', function(event, num){
            conv_name = decide_id(num, id_name);
            conv_string = get_conv(conv_name, entire_conv);
            $.ajax({
                url: '/tagger/conv_tagger_inner'+'?conv=' + JSON.stringify(conv_string)
            }).done(function(data) {
                $( "#content" ).html( data );
            });
        });
    });

    function decide_id(id, id_name){
        return id = id_name[id];
    }

    function get_conv(conv_name, _conv){
        _data = _conv['hits']['hits'];
        conv_with_id = {};
        refined_conv = [];
        
        $.each(_data, function(value){
            console.log('line 73 - ' + _data[value]['_source']['name']);
            if (_data[value]['_source']['name'] === conv_name){
                conv_with_id['id'] = _data[value]['_source']['name'];                
                _conv = _data[value]['_source']['sentences'];
                $.each(_conv, function(value){
                    _conv[value]['text'] = _conv[value]['text'].replace(/\n/g, '').replace(/"/g, '\'');
                    if(_conv[value]['speaker'] !== 'System'){
                        _conv[value]['created_date'] = _conv[value]['created_date'].replace(/:/g,'-');
                        refined_conv.push(_conv[value]);
                    }
                });
            }
        });
        conv_with_id['sentences'] = refined_conv; 
        return conv_with_id;
    }

</script>
{% endblock %}