{% extends "tagger/base.html" %}
{% block body_block %}
<link rel="stylesheet" href="../../static/css/base/bootstrap.min.css">
<link rel="stylesheet" href="../../static/css/tagger/tagger.css">
<script type="text/javascript" src="../../static/js/base/jquery.min.js"></script>
<script type="text/javascript" src="../../static/js/tagger/tagger.js"></script>  
<script type="text/javascript" src="../../static/js/base/bootstrap.min.js"></script>
<script type="text/javascript">
    var conv = '{{ conv }}';
    var act = '{{ act }}';
    var intent = '{{ intent }}';
    var slot = '{{ slot }}';
</script>


<!------ Include the above in your HEAD tag ---------->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="chatbody">
                <div class="panel panel-primary">
                    <div class="panel-heading top-bar">
                        <div class="row">
                            <div class="col-md-10">
                                <h3 class="panel-title chat_head"></h3>
                            </div>
                            <div class="col-md-2 col-sm-offset-8">
                                <button type="submit" class="btn btn-warning" id = "submit">저장</button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body msg_container_base">
                    </div>
                    <div class="panel-footer">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading top-bar">
                    <div class="col-md-8">
                        <h3 class="panel-title"><span class="glyphicon glyphicon-book"></span>  Tagging info</h3>
                    </div>
                </div>
                <div>
                    <div>
                        <div class="jumbotron">
                              <h1>Annotation Guideline or some other contexts!!</h1>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id = 'slot_selector'>
        <!--Creates the popup content-->
        <div class="modal-dialog">
            <div class="modal-content popup-content">
            <!-- Modal Header -->
                <div class="modal-header">
                    <h5 class="modal-title">Slot selector</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
            <!-- Modal body -->
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-md-3">
                                <label for='delte'><p>If you want</p> </label>
                            </div>
                            <div class="col-md-7 form-group">
                                <button type="button" class="btn btn-danger" id = "delete_selection" >Delete</button>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-3 form-group">
                                <label for="slot">Slot</label>
                            </div>
                            <div class="col-md-4 form-group" >
                                <select id="slot_selector_in_modal"></select>
                            </div>
                            <div class='col-md-3' id = 'add_slot'>
                                <button type="button" class="btn btn-default btn-sm add_slot"><span class="glyphicon glyphicon-plus"></span></button>
                            </div>
                        </div>
                        <div class='row'>
                            <div class="col-md-3 form-group">
                                <label for="value_in_modal">Value</label>
                            </div>
                            <div class="col-md-7 form-group">
                                <input id='value'></input>
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id = 'intent_selector'>
            <!--Creates the popup content-->
            <div class="modal-dialog">
                <div class="modal-content popup-content">
                <!-- Modal Header -->
                    <div class="modal-header">
                        <h5 class="modal-title">Intent selector</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        
                    </div>
                <!-- Modal body -->
                    <div class="modal-body">
                        <form>
                            <div class="row">
                                <div class="form-group">
                                    <label for="slot">Intent</label>
                                </div>
                                <div class="form-group" >
                                    <select id="intent_selector_in_modal"></select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label for="slot">Intent</label>
                                </div>
                                <div class="form-group" >
                                    <select id="act_selector_in_modal"></select>
                                </div>
                            </div>
                        </form>
                    </div>
                
                <!-- Modal footer -->
               <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>      -->
                </div>
            </div>
        </div>

</div>


{% endblock %}