{% extends "tagger/base.html" %}

{% block body_block %}
<script src="../../static/js/tagger.js"></script>
<script type="text/javascript">
    var conv = '{{ conv }}'
    var act = '{{ act }}'
    var intent = '{{ intent }}'
    var slot = '{{ slot }}'
  </script>
  
<!------ Include the above in your HEAD tag ---------->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="chatbody">
                <div class="panel panel-primary">
                    <div class="panel-heading top-bar">
                        <div class="col-md-8">
                            <h3 class="panel-title chat_head"></h3>
                        </div>
                    </div>
                    <div class="panel-body msg_container_base">
                    </div>
                    <div class="panel-footer">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading top-bar">
                    <div class="col-md-8">
                        <h3 class="panel-title"><span class="glyphicon glyphicon-book"></span> Tagging info</h3>
                    </div>
                </div>
                <div>
                    <form>
                        <div class="form-group">
                            <label for="turn_id">Turn ID</label>
                            <input class="form-control" id="turn_id"></input>
                        </div>
                        <div class="form-group">
                            <label for="conv_intent">대화 Intent</label>
                            <select class="form-control" id="conv_intent"></select>
                        </div>
                        <div class="form-group"> 
                            <label for="intent">문장 Intent</label>
                            <select class="form-control" id="sentence_intent"></select>
                        </div> 
                        <div class="form-group">
                            <label for="act">Act</label>
                            <select class="form-control" id="act"></select>
                        </div>
                        <div class="form-group">
                            <label for="slots">Slots</label>
                            <input class="form-group" id="total_slots"></input>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">저장</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="popup-overlay">
        <!--Creates the popup content-->
        <div class="popup-content">
            <form>
                <div>
                    <label class="form-group"  for="slot">Slot</label>
                    <select class="form-group" id="slot"></select>
                </div>
                <div>
                    <label class="form-group" for="value">Value</label><input id='value'></input>
                </div>
                
            </form>
        </div>
    </div>
</div>


{% endblock %}