@font-face{
  font-family:'Glyphicons Halflings';
  src:url('/tagger/static/fonts/glyphicons-halflings-regular.eot');
}

.ok{color:blue}
.remove{color:red}
.add{color:green}
/* 
.dock-item {
  font-size: 14px;
  font-family: arial;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  width: 70px;
  height: 70px;
  border-radius: 3px;
  text-align: center;
  user-select: none;
}

@keyframes jiggle {
  0% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(1deg);
  }
} */

.dock-item[data-editing="true"] {
  animation: jiggle 0.2s infinite;
  border: 1px solid #aaa;
  box-shadow: 0 0 1px rgba(0,0,0,.85);
}

.container-fluid{
    width: 100%;
    margin-top: 10px;
    height: 100%;
}

.tagger_form{
  background: aliceblue;
}

div.modal-backdrop.in{
  opacity: .3;
}

.panel-primary{
    margin-left: 20px;
    margin-right: 20px;
    border: 5px rgba(213, 2, 41);
    
}
.chatperson{
    display: block;
    border-bottom: 1px solid #eee;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 4px;
    font-size: 18px;
  }
  .chatperson:hover{
    text-decoration: none;
    border-bottom: 1px solid orange;
  }
  .namechat {
      display: inline-block;
      vertical-align: middle;
  }
  .chatperson .chatimg img{
    width: 10px;
    height: 10px;
  }
  .chatperson .pname{
    font-size: 18px;
    padding-left: 5px;
  }
  .chatperson .lastmsg{
    font-size: 12px;
    padding-left: 5px;
    color: #ccc;
  }
  
  body{
      height:100%;
      width:100%;
      position: fixed;
      bottom: 0;
  }

  .col-md-2, .col-md-10{
      padding:0;
  }
  .panel{
      margin-bottom: 0px;
  }

  .panel-title{
      font-size: 20px;
      text-align: center;   
  }

  div > .panel-heading > .top-bar{
    align-items: center;
    background-color: rgba(213, 2, 41);
 }

 .chatbody{
    height:100%;
 }

  .chat-window{
      width: 100%;
      height: 90%;
      bottom:0;
      position:fixed;
      float:right;
      margin-left:10px;
      border: 1px solid rgba(213, 2, 41);
  }
  
  .icon_minim{
      padding:2px 10px;
  }

  .msg_container_base{
    background: rgb(233, 236, 239);
    margin: 0;
    padding: 0 10px 10px;
    max-height:90%;
    overflow-x:hidden;
    border: 5 px solid rgba(213, 2, 41);    
  }

  .top-bar {
    background: rgba(213, 2, 41);
    color: white;
    padding: 10px;
    position: relative;
    overflow: hidden;
    align-content: center;
  }

  .msg_receive{
      padding-left:0;
      margin-left:0;
      background: white;   
  }
  
  .msg_sent{
      padding-bottom:20px !important;
      margin-right:0;
      background: white;
      border: 1px solid #ccc;
      border-radius: 3px;
  }
  .messages {
    background: white;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    max-width:100%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .messages > p {
      font-size: 20px;
      margin: 0 0 0.2rem 0;
    }
  .messages > time {
      font-size: 11px;
      color: #ccc;
  }
  .msg_container {
      padding: 10px;
      overflow: hidden;
      display: flex;
  }
  img {
      display: block;
      width: 100%;
  }
  .avatar {
      position: relative;
  }
  

  
  .base_sent {
    justify-content: flex-end;
    align-items: flex-end;
  }

  .msg_sent > time{
      float: right;
  }
  
  .msg_container_base::-webkit-scrollbar-track
  {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: #F5F5F5;
  }
  
  .msg_container_base::-webkit-scrollbar
  {
      width: 12px;
      background-color: #F5F5F5;
  }
  
  .msg_container_base::-webkit-scrollbar-thumb
  {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      /* background-color: #555; */
  }
  
  .btn-group.dropup{
      position:fixed;
      left:0px;
      bottom:0;
  }

  /* RHS tagging info */
  .form-group{
      font-size: 18px;
      margin-left: 20px;
      margin-right: 20px;
  }

  input{
      font-size: 18px;
  }

  /* High lighting
  .highlight
  {
      background-color: rgb(240, 115, 13);
      border-radius: 5px 5px 5px 5px;
  }
 */
  .highlight.entity
  {
      background-color: black;
      color: white;
      border-radius: 5px 0px 0px 5px;
  }


  #test-text::-moz-selection { /* Code for Firefox */
     
      background: rgb(240, 115, 13);
      border-radius: 5px 5px 5px 5px;
  }

  #test-text::selection {
     
      background: rgb(240, 115, 13);
      border-radius: 5px 5px 5px 5px;
  }
 
  .selectedConv{
    background-color: rgb(245,221, 173);
}

  .badge_secondary.slots_in_tagger_info{
    background_color: black;
    color: white;
    border-radius: 15px 15px 15px 15px;
  }

  .modal {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    z-index: 10040;
    overflow: auto;
    overflow-y: auto;
 }
  
  .button{
    display:inline-block;
    vertical-align:middle;
    border-radius:30px;
    margin:.20rem;
    font-size: 1rem;
    color:#666666;
    background:   #ffffff;
    border:1px solid #666666;  
  }
  
  button:hover{
    border:1px solid #666666;
    background:#666666;
    color:#ffffff;
  }